!!! 5
html(lang='en')  
	head  
		meta(http-equiv='content-type', content='text/html;charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='description', content='')
		meta(name='author', content='Kevin Sakhuja')
		meta(name='Copyright', content='Copyright Your Name Here 2012. All Rights Reserved')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0')

		meta(name='fb:app_id', content='')
		meta(name='og:site_name', content='evntive')
		meta(name='og:title', content='share your event memory')
		meta(name='og:type', content='website')
		meta(name='og:url', content='http://evntive.com')
		meta(name='og:image', content='path-to-image')
		meta(name='og:description', content='cool stuff')

		title=title  
		
		// if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		link(rel='shortcut icon', href=assetUrl + 'img/favicon.png' + assetVersion)
		link(rel='apple-touch-icon-precomposed', href=assetUrl + 'img/apple-touch-icon-114-precomposed.png' + assetVersion)
		link(rel='apple-touch-icon-precomposed', href=assetUrl + 'img/apple-touch-icon-72-precomposed.png' + assetVersion)		
		link(rel='apple-touch-icon-precomposed', href=assetUrl + 'img/apple-touch-icon-57-precomposed.png' + assetVersion)

		script(src=assetUrl + 'js/vendor/head.js' + assetVersion)
		link(rel='stylesheet', href=assetUrl + 'css/core.css' + assetVersion)

	body
		//if lt IE 9
			div#ie
				p Please install Google Frame to experience this site. 
					a(href="http://www.google.com/chromeframe/?redirect=true") Click to Download.

		!=flash

		header#header
			div.wrapper.clearfix
				a(href='/')#logo.left
					img(src=assetUrl + 'img/logo.png' + assetVersion)
				nav#header-nav.right
					ul
						- if(typeof session.auth !== 'undefined' && session.auth.logged === true)
							li: a(href='/search') search
							li: a(href='/messages') messages
							li#nav-profile
								a(href='/user')
									img(src=assetUrl + 'img/' + session.auth.user.pic[0].pic_url + assetVersion)
									=session.auth.user.username
								ul.menu
									li: a(href='/invite') Invite Others
									li.divider: a(href='/settings') Settings
									li: a(href='/settings/prefs') Preferences
									li: a(href='/settings/password') Change Password
									li.divider: a(href="/logout") Logout

						- else
							li: a(href="/signup") Sign up
							li: a(href="/login") Login
							li.social: a(href="/login/twitter", style='margin-left:10px'): img(src=assetUrl + 'img/twitter.png' + assetVersion)
							li.social: a(href="/login/fb"): img(src=assetUrl + 'img/fb.png' + assetVersion)

		section.wrapper!= body

		footer#footer
			nav#footer-nav.wrapper.clearfix
				ul
					li: a(href='/about') About
					li: a(href='/press') Press
					li: a(href='/contact') Contact
					li: a(href='help.' + baseUrl) Help					
					li: a(href='help.'+ baseUrl + 'privacy') Privacy
					li: a(href='help.'+ baseUrl + 'terms') Terms
					li: a(href="#") Blog

		script
			head.js('http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
				'#{assetUrl}js/app.js#{assetVersion}',				
				'#{assetUrl}js/vendor/analytics.js#{assetVersion}'
			);